p {
    text-align: justify;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    width: 100%;
    min-height: 100vh; /* 確保容器至少佔滿整個視窗高度 */
    grid-template-areas:
        "header header header"
        "main main main"
        "left center right"
        "left bottom right"
        "footer footer footer";   
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: auto 1fr auto auto 30vh;
}

.header {
    grid-area: header;
  
}

.header * {
    padding: 0;
    margin: 0;
}

.main {
    grid-area: main;
   
}
.left {
    grid-area: left;
}
.right {
    grid-area: right;
}
.center {
    grid-area: center;
}

.bottom {
    grid-area: bottom;
  
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
}

p.text-end{
                text-align: center;
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                position: relative;
                top: 30px;
            }
            p.Contact{
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                position: relative;
                text-align: center;
                top:50px;
            }

ul.menu {
    list-style: none;
    background-color: #333;
    text-align: left;
}

ul.menu li {
    display: inline-block;
    position: relative;
}

ul.menu li a {
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

ul.menu li ul.dropdown li {
    display: block;
    background-color: #333;
    margin: 2px 0px;
}

ul.menu li ul.dropdown {
    width: auto;
    position: absolute;
    background-color: #FFF;
    z-index: 999;
    display: none;
}

ul.menu li a:hover {
    background-color: #222;
}

ul.menu li:hover ul.dropdown {
    display: block;
}
.abox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/bm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.abox:hover{
    background-image: url(pic/bmnow.jpg);
}
.bbox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/gm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.bbox:hover{
    background-image: url(pic/gmnow.jpg);
}
.cbox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/b3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.cbox:hover{
    background-image: url(pic/b3now.jpg);
}
.dbox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.dbox:hover{
    background-image: url(pic/b1now.jpg);
}
.ebox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/b2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.ebox:hover{
    background-image: url(pic/b2now.jpg);
}
.fbox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/b4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.fbox:hover{
    background-image: url(pic/b4now.jpg);
}
.gbox{
    width:600px;
    height:400px;
    background-color: antiquewhite;
    background-image: url(pic/g1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 5px;
    color: red;
    font-size: 30px;
}
.gbox:hover{
    background-image: url(pic/g1now.jpg);
}
